.timeline_item {
    &:first-child .timeline_prev,
    &:last-child .timeline_next {
        display: none;
    }
}
.timeline_item {
    position: relative;
    width: 80%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    textarea {
        display: block;
        width: 100%;
        resize: vertical;
    }
}
.timeline_thumbnail {
    margin-bottom: 10px;
    img {
        max-width: 300px;
    }
}
.timeline_item_field {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.timeline_item_aside {
    position: absolute;
    right: -30px;
    top: 0;
    margin-left: 10px;
    a {
        display: block;
        width: 25px;
        line-height: 25px;
        margin-bottom: 5px;
        padding: 0;
        text-align: center;
        font-size: 14px;
    }
    i {
        padding-right: 0;
    }
}