.timeline_item:first-child .timeline_prev, .timeline_item:last-child .timeline_next {
  display: none;
}

.timeline_item {
  position: relative;
  width: 80%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #eee;
}
.timeline_item textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

.timeline_thumbnail {
  margin-bottom: 10px;
}
.timeline_thumbnail img {
  max-width: 300px;
}

.timeline_item_field {
  margin-bottom: 10px;
}
.timeline_item_field:last-child {
  margin-bottom: 0;
}

.timeline_item_aside {
  position: absolute;
  right: -30px;
  top: 0;
  margin-left: 10px;
}
.timeline_item_aside a {
  display: block;
  width: 25px;
  line-height: 25px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.timeline_item_aside i {
  padding-right: 0;
}
